/EclipseCoreResourcesPrefsTemplateBase.java
/EclipseWstProjectFacetCorePrefsTemplateBase.java
/EclipseJdtCorePrefsTemplateBase.java
/EclipseM2eCorePrefsTemplateBase.java
/EclipseWstProjectFacetCoreXmlTemplateBase.java
