/DotProjectFile.java
/IntellijProjectImlFile.java
/DotClasspathFile.java
/DotGitignoreFile.java
/EclipseCoreJdtFile.java
/EclipseCoreM2eFile.java
/EclipseCoreResourcesFile.java
/EclipseWstFacetFile.java
/EclipseWstFacetPrefsFile.java
/PomFile.java
/ReadmeMdFile.java
/AbstractManifestMfTemplate.java
/IntellijProjectImlFileBase.java
/PomXmlTemplateBase.java
/ReadmeMdTemplateBase.java
/DotGitignoreTemplateBase.java
/EclipseDotClasspathTemplateBase.java
/EclipseDotProjectTemplateBase.java
